html, body {
	border: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

body {
	background: #eee;
}

a#download {
	background-image: url(dl.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 32px;
	bottom: 0;
	cursor: pointer;
	height: 42px;
	overflow: hidden;
	padding: 8px;
	position: absolute;
	right: 0;
	text-indent: -1000px;
	width: 42px;
}

#upload {
	background-image: url(ul.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 32px;
	position: absolute;
	right: 58px;
	bottom: 0;
}

#upload > input[type="file"] {
	cursor: pointer;
	height: 42px;
	opacity: 0.01;
	padding: 8px;
	text-indent: -1000px;
	width: 42px;
}

svg {
	background-color: #FFF;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg:not(.active):not(.ctrl) {
	cursor: crosshair;
}

path.link {
	cursor: default;
	fill: none;
	stroke: #000;
	stroke-width: 4px;
}

svg:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}

path.link.selected {
	stroke-dasharray: 10, 2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

circle.node {
	cursor: pointer;
	stroke-width: 1.5px;
}

circle.node.reflexive {
	stroke: #000 !important;
	stroke-width: 2.5px;
}

text {
	font: 12px sans-serif;
	pointer-events: none;
}

text.id {
	font-weight: bold;
	text-anchor: middle;
}
